* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --green: rgb(34, 201, 34);
  --orange: rgba(238, 171, 48, 0.84);
}
.logo h1 {
  color: var(--green);
  margin-left: 15%;
}
.Menu {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 9999;
  background-color: white;
}
ul {
  display: none;
}
ul li {
  margin: 10px 20px;
}
ul li a {
  text-decoration: none;
  display: flex;
  font-size: 18px;
  font-weight: small;
  color: gray;
}
.collapse ul li a:hover {
  color: var(--green);
  opacity: 0.5;
}
.icon {
  margin-left: 15%;
}
.icon i {
  color: var(--green);
  font-size: 30px;
}
.col-md-6 h3 {
  color: var(--orange);
  margin-left: 50px;
}
.col-md-6 h1 {
  font-size: 5rem;
  font-weight: 500;
  color: var(--green);
  margin-left: 50px;
}
.input {
  height: 70px;
  width: 530px;
  border-radius: 35px;
  position: relative;
  margin-left: 50px;
}
.input input {
  height: 70px;
  border: 3px solid greenyellow;
  border-radius: 35px;
  position: absolute;
}
.input button {
  width: 150px;
  height: 70px;
  position: absolute;
  border: 1px solid var(--green);
  font-size: 20px;
  border-radius: 35px;
  color: white;
  background-color: var(--green);
  margin-left: 380px;
}
.input button:hover {
  color: #fff;
  background-color: var(--orange);
}
.slider {
  background-image: url(/image/hero-img.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 450px;
}
/* card products */
.Card-products .card {
  box-shadow: 0px 0px 20px;
  transition: all 0.5s;
  transform: scale(1);
  overflow: hidden;
  border: 2px solid var(--orange);
}
.Card-products .card:hover {
  transform: scale(1.1);
}
.Card-products .card img {
  transition: all 0.5s;
  transform: scale(1);
}
.Card-products .card img:hover {
  transform: scale(1.1);
}
.Card-products .footer button {
  border-radius: 25px;
  padding: 5px 10px;
  font-weight: 600;
  color: var(--green);
  border: 2px solid var(--orange);
}
.Card-products .footer button:hover {
  background-color: var(--orange);
  color: #fff;
}
/* card under */
.card-under .cards {
  border-radius: 15px;
  position: relative;
}
.card-under .cards img {
  position: relative;
  overflow: hidden;
}
.card-under .cards .card-body {
  position: relative;
  border-radius: 0px 0px 13px 13px;
}
.card-under .box {
  position: absolute;
  width: 250px;
  height: 120px;
  /* background-color: var(--green); */
  border-radius: 15px;
  inset: -60px 80px;
}
/* carousel */
.Carousel .gorup_btn button {
  padding: 8px 30px;
  margin: 10px;
  border: 1px solid var(--orange);
  border-radius: 15px;
  color: var(--green);
}
.Carousel .gorup_btn button:hover {
  color: #fff;
  background-color: var(--orange);
}
.carousel-item .card {
  box-shadow: 0px 0px 20px;
  transition: all 0.5s;
  transform: scale(1);
  overflow: hidden;
  border: 2px solid var(--green);
}
.carousel-item .card:hover {
  transform: scale(1.1);
}
.carousel-item .card img {
  transition: all 0.5s;
  transform: scale(1);
}
.carousel-item .card img:hover {
  transform: scale(1.1);
}
.carousel-item .footer button {
  border-radius: 25px;
  padding: 5px 10px;
  font-weight: 600;
  color: var(--green);
  border: 2px solid var(--orange);
}
.carousel-item .footer button:hover {
  background-color: var(--orange);
  color: #fff;
}

@media (max-width: 567px) {
  ul {
    flex-direction: column;
  }
  .Card-products .card {
    width: 25rem;
    margin-top: 15px;
  }
  .flex-slide {
    flex-direction: column;
  }
}
